@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Information We Collect: We collect information you provide directly to us (e.g., name, email) and data automatically collected via cookies (e.g., IP address, browser type).
    How We Use Information: We use this data to operate our site, improve our services, and communicate with you.Sharing Data: We do not sell your data. We may share information with trusted service providers (e.g., analytics) 
    to help us operate.Your Rights: You have the right to access, correct, or delete your personal information.Cookies: We use cookies to enhance your experience. You can manage cookie settings in your browser.</p>
